/.idea
/.vs
/PlugIns.sln.DotSettings.user
/TestApp/bin
/TestApp/obj
/TestApp/TestApp.csproj.user
/TextFilesKMP/bin
/TextFilesKMP/obj
/MSOffice/bin/
/MSOffice/obj/
/PDFFiles/bin/
/PDFFiles/obj/
/PreviewPdf/obj/
/PreviewPdf/bin/
/PreviewText/obj/
/PreviewText/bin/
/SearchPdf/bin/
/SearchPdf/obj/
/SearchText/bin/
/SearchText/obj/
